@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';
@source '../**/*.tsx';
@source '../**/*.ts';

@theme {
    --font-sans: 'Inter', 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji',
        'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

    --color-brand: #4f46e5;
    --color-background-light: #f8fafc;
    --color-background-dark: #0f172a;

    --color-success: #10b981;
    --color-danger: #f43f5e;
    --color-warning: #f59e0b;

    --radius-xl: 12px;
    --radius-lg: 8px;

    --shadow-soft: 0 4px 24px rgba(0, 0, 0, 0.04);
}
